body {
  background-color: black;
  color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: white;
  font-size: 20px;
  padding: 10px;
  border: 5px solid gray;
}

p {
  font-size: 12px;
  color: black;
  border-radius: 50%;
  text-align: center;
}

.mydiv {
  height: 100px;
  width: 100px;
  border-style: dotted;
  border-width: 2px;
}

body.index-bg {
  background: url(images/darkgrey.jpg) repeat center;
}
 
body.second-bg {
  background: url(images/264448.jpg) repeat center;
}

h1 {
  border: 1px solid red;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
}

figcaption {
  text-align: center;
  padding: 2px;
}

h2 {
  text-align: center;
}

#nav-id {
  background: white;
}

.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #00FFFF;
  color: white; 
  display: block; 
  padding: 12px; 
  text-decoration: none; 
}

.vertical-menu a:hover {
  background-color: #ccc; 
}

.vertical-menu a.active {
  background-color: #00FFFF; 
  color: white;
}
