body {
  background-color: black;
  color: white;
}

h1 {
  color: white;
  font-size: 20px;
  padding: 10px;
  border: 5px solid gray;
}

p {
  font-size: 12px;
  color: black;
  background-color: white;
  border-radius: 50%;
  text-align: center;
}

.mydiv {
  height: 100px;
  width: 100px;
  border-style: dotted;
  border-width: 2px;
}

body.index-bg {
  background: url(images/darkgrey.jpg) repeat center;
}
 
body.second-bg {
  background: url(images/264448.jpg) repeat center;
}

h1 {
  border: 1px solid red;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  text-align: center;
  padding: 2px;
}

h2 {
  text-align: center;
}

#nav-id {
  background: brown;
}
